deploy.sam.yml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'lambda: Serverless Agent for Buildkite, a @wolfeidau template'
Transform: AWS::Serverless-2016-10-31
Parameters:
    EnvironmentName:
      Type: String
    EnvironmentNumber:
      Type: String
    ConcurrentBuilds:
      Type: Number
      Default: 1
      MinValue: 1

Resources:

  SourceBucket:
    Type: AWS::S3::Bucket

  BuildkiteProjectECR:
    Type: AWS::ECR::Repository
    Properties:
      RepositoryPolicyText:
        Version: "2012-10-17"
        Statement:
          -
            Sid: AllowPull
            Effect: Allow
            Principal:
              AWS:
                - !GetAtt BuildkiteCodeBuildRole.Arn
            Action:
              - "ecr:GetDownloadUrlForLayer"
              - "ecr:BatchGetImage"
              - "ecr:BatchCheckLayerAvailability"

  BuildkiteProject:
    Type: AWS::CodeBuild::Project
    DependsOn: BuildkiteCodeBuildRole
    Properties:
      Artifacts:
        Type: no_artifacts
      Environment:
        ComputeType: BUILD_GENERAL1_SMALL
        # using my custom codebuild docker image with buildkite installed along with golang
        Image: wolfeidau/codebuild-docker-buildkite:17.09.0 
        Type: LINUX_CONTAINER
        PrivilegedMode: true
        EnvironmentVariables: 
        - Name: ENVIRONMENT_NAME
          Type: "PLAINTEXT"
          Value: !Sub "${EnvironmentName}"
        - Name: ENVIRONMENT_NUMBER
          Type: "PLAINTEXT"
          Value: !Sub "${EnvironmentNumber}"
      Name: !Sub "BuildkiteProject-${EnvironmentName}-${EnvironmentNumber}"
      ServiceRole: !Ref BuildkiteCodeBuildRole
      Source:
        Type: S3
        Location: !Sub "arn:aws:s3:::${SourceBucket}/buildkite.zip"

  BuildkiteCodeBuildRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          Effect: Allow
          Principal:
            Service: codebuild.amazonaws.com
          Action: sts:AssumeRole
      Policies:
      - PolicyName: BuildkiteSSMAccess
        PolicyDocument:
          Statement:
          - Effect: Allow
            Action: 'ssm:DescribeParameters'
            Resource:
            - '*'
          - Effect: Allow
            Action: 
            - 'ssm:GetParameters'
            - 'ssm:GetParameter'
            Resource:
            - !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/${EnvironmentName}/${EnvironmentNumber}/*"
          - Effect: Allow
            Action:
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
            Resource:
            - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/codebuild/BuildkiteProject-${EnvironmentName}-${EnvironmentNumber}"
            - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/codebuild/BuildkiteProject-${EnvironmentName}-${EnvironmentNumber}:*"
          - Effect: Allow
            Action:
            - s3:PutObject
            - s3:GetObject
            - s3:GetObjectVersion
            Resource:
            - !Sub "arn:aws:s3:::codepipeline-${AWS::Region}-*"
          - Effect: Allow
            Action:
            - s3:GetObject
            - s3:GetObjectVersion
            Resource:
            - !Sub "arn:aws:s3:::${SourceBucket}/buildkite.zip"

  AgentFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument: 
        Version: "2012-10-17"
        Statement: 
          - 
            Effect: "Allow"
            Principal: 
              Service: 
                - "lambda.amazonaws.com"
            Action: 
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Policies: 
        - 
          PolicyName: "BuildkiteSfnFunctionAccess"
          PolicyDocument: 
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                - states:DescribeStateMachine
                - states:StartExecution
                - states:ListExecutions
                Resource:
                - !Sub '${StateMachineCodebuildJobMonitor}'
              - Effect: Allow
                Action: 
                - 'ssm:GetParameters'
                - 'ssm:GetParameter'
                - 'ssm:PutParameter'
                Resource:
                - !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/${EnvironmentName}/${EnvironmentNumber}/*"

  AgentFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: agent
      Timeout: 30
      # For options see https://docs.aws.amazon.com/lambda/latest/dg/API_TracingConfig.html
      Tracing: Active
      Runtime: go1.x
      CodeUri: ./handler.zip
      Role: !Sub ${AgentFunctionRole.Arn}
      Environment:   
        Variables:
          ENVIRONMENT_NAME:
            Ref: EnvironmentName
          ENVIRONMENT_NUMBER:
            Ref: EnvironmentNumber
          CONCURRENT_BUILDS:
            Ref: ConcurrentBuilds
          SFN_CODEBUILD_JOB_MONITOR_ARN: !Sub '${StateMachineCodebuildJobMonitor}'
      Events:
        Timer:
          Type: Schedule
          Properties:
            Schedule: rate(1 minute)

  SfnFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument: 
        Version: "2012-10-17"
        Statement: 
          - 
            Effect: "Allow"
            Principal: 
              Service: 
                - "lambda.amazonaws.com"
            Action: 
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Policies: 
        - 
          PolicyName: "BuildkiteSfnFunctionAccess"
          PolicyDocument: 
            Version: "2012-10-17"
            Statement: 
              - Effect: Allow
                Action: 
                - 'ssm:GetParameters'
                - 'ssm:GetParameter'
                Resource:
                - !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/${EnvironmentName}/${EnvironmentNumber}/*"
              - Effect: Allow
                Action: 
                - 'codebuild:BatchGetBuilds'
                - 'codebuild:StartBuild'
                Resource:
                - !Sub "arn:aws:codebuild:${AWS::Region}:${AWS::AccountId}:project/BuildkiteProject-${EnvironmentName}-${EnvironmentNumber}"
              - Effect: Allow
                Action:
                - logs:GetLogEvents
                Resource:
                - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/codebuild/BuildkiteProject-${EnvironmentName}-${EnvironmentNumber}"
                - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/codebuild/BuildkiteProject-${EnvironmentName}-${EnvironmentNumber}:*"
              - Effect: Allow
                Action:
                - logs:GetLogEvents
                Resource:
                - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/codebuild/BuildkiteProject-${EnvironmentName}-${EnvironmentNumber}"
                - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/codebuild/BuildkiteProject-${EnvironmentName}-${EnvironmentNumber}:*"

  SubmitJobFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: submit-job
      Timeout: 30
      # For options see https://docs.aws.amazon.com/lambda/latest/dg/API_TracingConfig.html
      Tracing: Active
      Runtime: go1.x
      CodeUri: ./handler.zip
      Role: !Sub ${SfnFunctionRole.Arn}
      Environment:
        Variables:
          ENVIRONMENT_NAME:
            Ref: EnvironmentName
          ENVIRONMENT_NUMBER:
            Ref: EnvironmentNumber

  CheckJobFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: check-job
      Timeout: 30
      # For options see https://docs.aws.amazon.com/lambda/latest/dg/API_TracingConfig.html
      Tracing: Active
      Runtime: go1.x
      CodeUri: ./handler.zip
      Role: !Sub ${SfnFunctionRole.Arn}
      Environment:
        Variables:
          ENVIRONMENT_NAME:
            Ref: EnvironmentName
          ENVIRONMENT_NUMBER:
            Ref: EnvironmentNumber

  CompleteJobFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: complete-job
      Timeout: 30
      # For options see https://docs.aws.amazon.com/lambda/latest/dg/API_TracingConfig.html
      Tracing: Active
      Runtime: go1.x
      CodeUri: ./handler.zip
      Role: !Sub ${SfnFunctionRole.Arn}
      Environment:
        Variables:
          ENVIRONMENT_NAME:
            Ref: EnvironmentName
          ENVIRONMENT_NUMBER:
            Ref: EnvironmentNumber

  StateMachineCodebuildJobMonitor:
    Type: 'AWS::StepFunctions::StateMachine'
    Properties:
      StateMachineName: !Sub "CodebuildJobMonitor-${EnvironmentName}-${EnvironmentNumber}"
      DefinitionString: 
        Fn::Sub:
          - |
            {
              "Comment": "A state machine that submits a codebuild Job and monitors the Job until it completes.",
              "StartAt": "Submit Job",
              "States": {
                "Submit Job": {
                  "Type": "Task",
                  "Resource": "${SfnSubmitLambdaARN}",
                  "Next": "Wait X Seconds",
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "IntervalSeconds": 1,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ]
                },
                "Wait X Seconds": {
                  "Type": "Wait",
                  "SecondsPath": "$.wait_time",
                  "Next": "Get Job Status"
                },
                "Get Job Status": {
                  "Type": "Task",
                  "Resource": "${SfnCheckLambdaARN}",
                  "Next": "Job Complete?",
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "IntervalSeconds": 1,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ]
                },
                "Job Complete?": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.build_status",
                      "StringEquals": "FAILED",
                      "Next": "Get Final Job Status"
                    },
                    {
                      "Variable": "$.build_status",
                      "StringEquals": "SUCCEEDED",
                      "Next": "Get Final Job Status"
                    }
                  ],
                  "Default": "Wait X Seconds"
                },
                "Get Final Job Status": {
                  "Type": "Task",
                  "Resource": "${SfnCompleteLambdaARN}",
                  "End": true,
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "IntervalSeconds": 1,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ]
                }
              }
            }
          - SfnSubmitLambdaARN: !GetAtt SubmitJobFunction.Arn
            SfnCheckLambdaARN: !GetAtt CheckJobFunction.Arn
            SfnCompleteLambdaARN: !GetAtt CompleteJobFunction.Arn
      RoleArn: !GetAtt 'RoleCodebuildJobMonitor.Arn'

  RoleCodebuildJobMonitor:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service: !Sub 'states.${AWS::Region}.amazonaws.com'
          Action: 'sts:AssumeRole'
      Policies:
      - PolicyName: lambda
        PolicyDocument:
          Statement:
          - Effect: Allow
            Action: 'lambda:InvokeFunction'
            Resource:
            - !GetAtt SubmitJobFunction.Arn
            - !GetAtt CheckJobFunction.Arn
            - !GetAtt CompleteJobFunction.Arn

Outputs:
  AgentFunctionArn:
    Value: !GetAtt AgentFunction.Arn
    Export:
      Name: !Sub "${AWS::StackName}-AgentFunctionArn"
  SubmitJobFunctionArn:
    Value: !GetAtt SubmitJobFunction.Arn
    Export:
      Name: !Sub "${AWS::StackName}-SubmitJobFunctionArn"
  CheckJobFunctionArn:
    Value: !GetAtt CheckJobFunction.Arn
    Export:
      Name: !Sub "${AWS::StackName}-CheckJobFunctionArn"
  CompleteJobFunctionArn:
    Value: !GetAtt CompleteJobFunction.Arn
    Export:
      Name: !Sub "${AWS::StackName}-CompleteJobFunctionArn"
  StateMachineCodebuildJobMonitorArn:
    Value: !Ref StateMachineCodebuildJobMonitor
    Export:
      Name: !Sub "${AWS::StackName}-StateMachineCodebuildJobMonitorArn"
  SourceBucket:
    Value: !Ref SourceBucket
    Export:
      Name: !Sub "${AWS::StackName}-SourceBucket"
  BuildkiteProject:
    Value: !Ref BuildkiteProject
    Export:
      Name: !Sub "${AWS::StackName}-BuildkiteProject"
  BuildkiteProjectECR:
    Value: !Ref BuildkiteProjectECR
    Export:
      Name: !Sub "${AWS::StackName}-BuildkiteProjectECR"      